<html>
<head>
    <title>ShareMe</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<div><button id="btn">PostingW</button></div>
{{shifted}}
{{op}}
<script>
    $(document).ready(function (e) {
        var xhr=new XMLHttpRequest();
        var username='{{username}}';
        var shifted = '{{shifted}}';
        var op = '{{op}}';
        console.log("core msg : "+window.location.href);
        xhr.open("POST", "http://114.70.21.89:8000/alarm", true);
        //xhr.open("POST", window.location.href, true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            'message': username,
            'shifted': shifted,
            'op': op
        }));
    });
</script>
</html>